<%- include ("./partials/header") %>

<div class="container">
    <h1 style="padding-top:100px;padding-left: 50px;letter-spacing: 2px;">This Is the Landing Page</h1>
    <a href="/campgrounds" style="padding-left: 50px;">View All CampGrounds</a>
</div>

<%- include ("./partials/footer") %>